body
{
	 background: linear-gradient(to right,#00AAFF,rgb(226,160,5),#00FF6C);
	 border:black 10px dotted;
}
img
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
}
h1
{
	font-size: 600%;
	text-align: center;
	font-family: Comic Sans MS;
	font-weight: 500;
	background-color: linear-gradient(to right,#00AAFF,rgb(226,160,5),#00FF6C);
	border:5px solid rgb(226,160,5);
	margin-right:15px;
	margin-left: 15px;
	border-left: black 10px dotted;
	border-right: black 10px dotted;
}
h4
{
	font-size: 3em;
	font-family: Comic Sans MS;
	text-align: center;
	text-decoration: underline;
}
p
{
	font-size: 3em;
	font-family: Comic Sans MS;
	text-align: center;
}
li
{
	font-size: 3em;
	font-family: Comic Sans MS;
	text-align: center;
}
#navbar ul 
{
    padding: 5px;
    list-style-type: none;
    text-align: center;
    background-color: #000;
    margin: 10px;
    border-radius: 5px;
}
#navbar ul li
{
    display: inline;
}
#navbar ul li a
{
    display: inline;
    text-decoration: none;
   font-family: Comic Sans MS;
    padding:0.2em 1em;
    color:#fff;
    background-color: #000 
}

